casadi~=3.6.3
do-mpc~=4.6.4
entsoe-py<1.0.0
ipykernel~=6.26.0
matplotlib~=3.8.1
numpy~=1.26.1
orjson<4.0.0
pandas<3.0.0
plotly
pvlib~=0.10.3
python-dotenv~=1.0.1
requests
requests_cache
retry-requests~=2.0.0
scipy~=1.11.3
st-theme~=1.2.3
stqdm
streamlit~=1.38.0
tqdm
